################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NotificationService/NotificationService/obj/*
/NotificationService/NotificationService/bin/*
/NotificationService/.vs/NotificationService
