################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/source/NotificationService/obj/*
/source/NotificationService/bin/*
/source/.vs
/source/DockerComposeFiles/obj/*
/source/DockerComposeFiles/bin/*
/source/NotificationApi/obj
/source/NotificationApi/bin/Debug/*
*.env
/source/NotificationService/NotificationService.csproj.user
/source/NotificationApi/bin/Release/net8.0
/source/NotificationService/Properties/PublishProfiles/registry.hub.docker.com_marteek.pubxml.user
