################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NotificationService/NotificationService/obj/Debug/net7.0
/NotificationService/.vs/NotificationService
